@import "tailwindcss";

@theme {
  --color-space-cadet: #253446;
  --color-slate-gray: #6F7B91;
  --color-tan: #D8BB93;
  --color-coffee: #6F4D3B;
  --color-mortuum: #632024;
}

body {
  background-color: #253446;
  color: #ffffff;
  
}
